{%- comment -%} TODO: automatic files {%- endcomment -%}

{%- if include.figure != 0 -%}<figure markdown="0">{%- endif -%}
    {%- if include.url -%}<a href="{{ include.url }}">{%- endif -%}
    <picture>
        <source srcset="/assets/images/{{ include.file }}_500x500.avif 1x, /assets/images/{{ include.file }}_1000x1000.avif 2x" type="image/avif" />
        <source srcset="/assets/images/{{ include.file }}_500x500.webp 1x, /assets/images/{{ include.file }}_1000x1000.webp 2x" type="image/webp" />
        <img src="/assets/images/{{ include.file }}_500x500.jpg" srcset="/assets/images/{{ include.file }}_500x500.jpg 1x, /assets/images/{{ include.file }}_1000x1000.jpg 2x" width="300" loading="lazy" alt="{{ include.alt }}" class="{{ include.class }}" {% if include.ratio %} style="--aspect-ratio:{{ include.ratio }};"{% endif %} />
    </picture>
    {%- if include.url -%}</a>{%- endif -%}

    {%- if include.caption -%}
    <figcaption markdown="span">{{ include.caption }}</figcaption>
    {%- endif -%}
{%- if include.figure != 0 -%}</figure>{%- endif -%}