{% set navPages = collections.all | eleventyNavigation %}

{# {% if entry.url == page.url %} class="my-active-class"{% endif %} #}

<nav class="mainnav">
  <ul>
  {%- for entry in navPages %}
     <li class="mainnav__item" >
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
