/* ==========================================================================
   Social-Media
   ========================================================================== */
.socialmedia {
  display: flex;
  justify-content: space-around;
  margin: var(--m) 0;
}

.socialmedia__item svg {
  width: var(--l);
  height: var(--l);
}

.socialmedia__item a {
  color: var(--c-fg-1);
}

.socialmedia__item a:hover,
.socialmedia__item a:focus,
.socialmedia__item a:focus-within {
  color: var(--c-prim-interactive);
}

/* ==========================================================================
   Hashtag
   ========================================================================== */
.hashtags {
  margin: var(--m) 0;
  color: var(--c-fg-3);
}

.hashtags__tag {
  display: inline;
}

.hashtags[data-style="big"] .hashtags__tag {
  display: block;
  margin: var(--s) 0;
}

.hashtags[data-style="big"] .hashtags__tag .primary,
.hashtags[data-style="big"] .hashtags__tag .secondary {
  display: block;
}
.hashtags[data-style="big"] .hashtags__tag .secondary {
  font-style: italic;
  font-size: var(--s);
}

/* ==========================================================================
   Coming Soon
   ========================================================================== */
.coming-soon {
  display: flex;
  max-width: calc(2 * var(--max-line-length));
  height: calc(2 / 3 * var(--max-line-length));
  align-items: center;
  justify-content: center;
  background-color: var(--c-bg-2);
}

/* ==========================================================================
   Grid
   ========================================================================== */
.grid {
  display: grid;
  margin: var(--m) 0;
  gap: var(--m);
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--min-line-length)), 1fr));
}

/* ==========================================================================
   Coming Soon
   ========================================================================== */
.subtitle {
  font-family: var(--ff-serif);
}
