:root {
    /* Sizes
       ========================================================================== *
    --base: 1rem;
    --base-xxs: 0.3;
    --base-xs: 0.5;
    --base-s: 0.8;
    --base-m: 1.3;
    --base-l: 2.1;
    --base-xl: 3.4;
    --base-xxl: 5.5;
    --xxs:  calc(var(--base) * var(--base-xxs));
    --xs:   calc(var(--base) * var(--base-xs));
    --s:    calc(var(--base) * var(--base-s));
    --m:    calc(var(--base) * var(--base-m));
    --l:    calc(var(--base) * var(--base-l));
    --xl:   calc(var(--base) * var(--base-xl));
    --xxl:  calc(var(--base) * var(--base-xxl)); */


    /* Sizes: Renard 10 -> 10, 12.5, 16, 20, 25, 31.5, 40
       ========================================================================== */
    --base: 1rem; /* Default: 16px */

    --base-xxs: 0.625;
    --base-xs:  0.78125;
    --base-s:   1;
    --base-m:   1.25;
    --base-l:   1.5625;
    --base-xl:  1.96875;
    --base-xxl: 2.5;

    --xxs:  calc(var(--base) * var(--base-xxs));
    --xs:   calc(var(--base) * var(--base-xs));
    --s:    calc(var(--base) * var(--base-s));
    --m:    calc(var(--base) * var(--base-m));
    --l:    calc(var(--base) * var(--base-l));
    --xl:   calc(var(--base) * var(--base-xl));
    --xxl:  calc(var(--base) * var(--base-xxl));


    /* Color
       ========================================================================== */
    /* --c-dark:;
    --c-darker:;
    --c-darkest:; */
    

    --c-prim: rgb(244, 81, 30);
    --c-prim-interactive: rgb(255,87,34);
    
    --c-fg-1: #000000;
    --c-fg-2: #262626;
    --c-fg-3: #525252;

    --c-bg-1: #ffffff;
    --c-bg-2: #e0e0e0;
    --c-bg-3: #a8a8a8;

    /* Font
       ========================================================================== */
    --ff-mono: 'Inconsolata', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    --ff-serif: 'Merriweather', serif;

    --fw-normal: 500;
    --fw-bold: 900;

    --lh-tight: 110%;
    --lh-normal: 130%;
    --lh-loose: 150%;

    /* Border
       ========================================================================== */
    --border-1: 2px dashed var(--c-fg-1);
    --border-2: 2px dashed var(--c-fg-2);
    --border-3: 2px dashed var(--c-fg-3);

    /* Misc
       ========================================================================== */
    --image-filter: none;
    --max-line-length: 60ch;
    --min-line-length: 40ch;
}


/* ==========================================================================
   Dark-Mode
   ========================================================================== */
@media (prefers-color-scheme: dark) {
    :root {
        /* Color
           ========================================================================== */
        --c-prim: rgb(255,138,101);
        --c-prim-interactive: rgb(255,171,145);

        --c-fg-1: #f4f4f4;
        --c-fg-2: #c6c6c6;
        --c-fg-3: #8d8d8d;

        --c-bg-1: #161616;
        --c-bg-2: #393939;
        --c-bg-3: #6f6f6f;

        /* Misc
           ========================================================================== */
        --image-filter: brightness(0.9) contrast(1.1);
    }
}
