<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✌🏼</text></svg>">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#f4511e">
        <meta name="theme-color" content="#f4511e">
        <title>Finn Nils Gedrath</title>
        <meta name="description" content="Protfolio eines Medieninformatik Studenten 👨🏼‍💻">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <meta name="color-scheme" content="dark light">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;800&display=swap" rel="stylesheet">
        <link href="/assets/styles/reset.css" rel="stylesheet">
        <link href="/assets/styles/main.css" rel="stylesheet">
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Person",
                "name": "Finn Nils Gedrath",
                "url": "https://www.finngedrath.me",
                "jobTitle": "Medieninformatiker",
                "affiliation": {
                    "@type": "CollegeOrUniversity",
                    "name": "Technische Hochschule Köln",
                    "sameAs": "https://th-koeln.de"
                },
                "gender": "male",
                "sameAs": [
                    "https://de.linkedin.com/in/finnge",
                    "http://github.com/finnge",
                    "https://www.instagram.com/finn_nils/",
                    "https://www.youtube.com/channel/UChP5E_9YC5LSierF2bijG3Q"
                ]
            }
        </script>
    </head>

    <body>
        {{ content }}
    </body>

</html>