---
layout: base.njk
---

<header>
  <div class="profile">
    <h1>{{ title }}</h1>

    {% Image "profile.jpeg", "Finn Gedrath steht lächelnd vor einer bunten Wand", "", "", "", "profile__picture" %}
    
    {# {% include image.html figure=0 file="profile" alt="Finn Gedrath steht lächelnd vor einer bunten Wand" 
    class="profile__picture" %}#}
  </div>
  
  {# <ul class="socialmedia">
      {% for account in site.data.accounts %}
      <li class="socialmedia__item"><a href="{{ account[1].uri }}" title="{{ account[1].at }}">
          {%- assign icon = account[0] -%}
          {%- include icon.html name=icon -%} 
      </a></li>
      {% endfor %}
  </ul> #}

  <ul class="hashtags">
      {% for hashtag in page.hashtags %}
      <li class="hashtags__tag">#{{ hashtag }}</li>
      {% endfor %}
  </ul>

  {% include 'nav.njk' %}

</header>
<main>
    <section>
        {{ content | safe }}
    </section>
    <section>
        <h2 id="projekte">projekte</h2>
        <div class="coming-soon">
            <div class="coming-soon_text">
                Coming soon...
            </div>
        </div>
    </section>
</main>